<ion-header>
    <ion-toolbar class="custom-background">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{clientId ?'Editar ': 'Crear '}}Cliente {{client?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab *ngIf="clientId" vertical="bottom" horizontal="start" slot="fixed" (click)="delete()">
        <ion-fab-button color="danger">
            <ion-icon class="danger" name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- fab placed to the bottom end-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="save()">
        <ion-fab-button color="tertiary">
            <ion-icon class="white" name="checkmark-done-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngIf="missingFields">
            <ion-badge style="width: 100%;" color="danger">
                Tienes campos sin completar:
                <p *ngFor="let field of missingFields">
                    {{field}}
                </p>
            </ion-badge>
        </ion-item>
        <ion-item *ngFor="let field of clientFields">
            <ion-label>{{field.label}}</ion-label>
            <ion-input [disabled]="field.fieldName === 'cabin_name'" [type]="field.type" [(ngModel)]="client[field.fieldName]"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>