<ion-header>
    <ion-toolbar class="custom-background">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Crear cabaña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab *ngIf="cabinId" vertical="bottom" horizontal="start" slot="fixed" (click)="delete()">
        <ion-fab-button color="danger">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon class="danger" name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- fab placed to the bottom end-->
    <ion-fab *ngIf="!cabinId" vertical="bottom" horizontal="end" slot="fixed" (click)="addCabin()">
        <ion-fab-button color="tertiary">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon class="white" name="checkmark-done-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- fab placed to the bottom end-->
    <ion-fab *ngIf="cabinId" vertical="bottom" horizontal="end" slot="fixed" (click)="editCabin()">
        <ion-fab-button color="tertiary">
            <ion-icon class="white" name="checkmark-done-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor="let field of cabinFields">
            <ion-label>{{field.label}}</ion-label>
            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="field.type === 'number' || field.type === 'text'">
                    <ion-input [type]="field.type" [(ngModel)]="cabin[field.fieldName]"></ion-input>
                </ng-container>
                <ng-container *ngSwitchCase="field.type === 'select'">
                    <ion-select placeholder="{{'Select' + field.label}}" [(ngModel)]="cabin[field.fieldName]">
                        <ion-select-option *ngFor="let option of field.options; let i = index" [value]="i">
                            {{option}}
                        </ion-select-option>
                    </ion-select>
                </ng-container>
            </ng-container>
        </ion-item>
    </ion-list>

</ion-content>